body{
    background-image: linear-gradient(to right, rgb(240, 209, 35), rgb(161, 159, 36));
}
.fonteproj{
    font-family: Projeto;
    color: black;
}
.project{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font: 400;
    background-image: linear-gradient(to right, rgba(240, 209,35), rgb(212, 209, 35));
    color: black;
    text-align: center;
    width: 40%;
    margin: auto ;
}
@font-face {
    font-family: Projeto ;
    src: url(Fonte/CELEBRATE\ RETRO.ttf);
}
.jesusteama{
    text-align: center;
}
.jesus{
    color: black;
    font-style: italic;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.photo{
    justify-content: space-between;
}
button{
    background-color: rgb(204, 204, 38);
    color: black;
    cursor: pointer;
    padding: 10px;
    border: none;
    border-radius: 10px;
    transition: transform 0.2s;
}
button:hover{
    transform: scaleX(1.1);
    background-color: rgb(182, 194, 10);
}
.ajude{
   font-family: Projeto;
    background-image: linear-gradient(to right, rgba(240, 209,35), rgb(212, 209, 35));
    width: 40%;
    justify-content: center;
    align-items: center;
    margin: auto;       
    text-align: center;
    transition: transform 2.3s;
}
.redesocaias{
    font-family: fantasy;
}