*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
header{
    background-color: yellow;
}
.Options-btn{
    padding:5px;
    margin: 30px;
    border: 2px solid white;
    border-radius: 4px;
    background-color: yellow;
    margin-left: 200px;
    width: 200px;
}
.Options-btn:hover{
    background-color: white;
}
.a-btn{
    text-decoration: none;
}
.a-btn:hover{
    color: yellow;
}
/* SEÇÃO DO PROJETO*/
@font-face {
    font-family: PROJETO ;
    src: url(/assets/fontes/Our\ Spring.otf);
}
.Projeto{
    font-family: PROJETO;
    font-size: 50px;
    text-align: center;
}
.leitura-projeto{
    padding: 30px;
    border: 30px solid white;
    border-radius: 5px;
    background-color: yellow;
}
.pix-key{
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    list-style: none;
    background-color: yellow;
    width: 200px;
    border-radius: 5px;
    padding: 15px;
    margin-left: 43%;
    cursor: pointer;
}
.pix-key:hover{
    background-color: rgb(167, 167, 93);
}
.pix-key2{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}
.key-img{
    border: 5px solid yellow;
    margin-left: 43%;
    border-radius: 4px;
}
.Carrouselprincipal {
    width: 80%;
    margin: 20px auto;
    overflow: hidden;
    position: relative;
    border-radius: 10px;
}
.Carrouselfilho {
    display: flex;
    transition: transform 0.5s ease-in-out;
}
.Carrouselfilho img {
    width: 100%;
    max-width: 100%;
}
.Carrouselbutton {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
}
.Carrouselbutton button {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}
.Carrouselbutton button:hover {
    background-color: rgba(0, 0, 0, 0.8);
}
.contact{
    background-color: yellow;
   padding: 10px;
}
.zap{
    transition: transform 0.2s;
    margin-left: 20px;
}
.zap:hover{
    background-color: green;
    color:white;
    border-radius: 30px;
    transform: scale(1.2);
    
}