body{
    background-image: url(/Fotos/instituto.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}
.title1{
    font-style: italic;
    font-family: PROJETO;
    color: white;
    background-color: black;
    border-radius: 10px;
    border: 4px solid white;
    font-size: 50px;
    width: 31%;
    margin-left: 32%;
    margin-right: auto;
}
@font-face {
    font-family: PROJETO ;
    src: url(/Fontes/Our\ Spring.otf);
}

.title2{
    font-size: 40px;
    padding: 20px; 
    background-color: black;
    color: white;
    font-family: PROJETO;
    border: 10px solid white;
    border-radius: 20px;
    margin-left: 120px;
    width: 83%;
    font-style: italic;
}
.title3{
    font-style: italic;
    font-family: PROJETO;
    font-size: 50px;
    text-align: center;
    width: 12%;
    border-radius: 10px;
    background-color: white;
    margin-left: 39%;
    margin-right: 50%;
}
#img1{
    width: 300px;
    margin-left: 39%;
    border: 4px solid rgb(0, 0, 0);
    border-radius: 20px;
}
#apertado{
    font-family: PROJETO;
    font-size: 20px;
    border: none;
    margin: 20px;
    cursor: pointer;
    color: white;
    margin-left: 42%;
    border-radius: 10px;
    padding: 20px;
    background-color: black;
    box-shadow: 10px solid black;
}
#apertado:hover{
    background-color: white;
    color: black;
}
@media screen and (max-width: 720px) {
    
}
.duck{
    position: relative;
    min-height: 10vh;
    display: flex;
    background-image: url();
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
    padding: 20px 10px;
}
.cat{
    width: 50%;
    list-style: none;
    margin-left: 1%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.butto{
    padding: 5px;
    margin-left: 20px;
    border: none;
    border-radius: 5px;
    background-color: #ffffff;
    transition: transform 1.0ms;
    padding: 0 20px;
    margin: 0px 20px;
}
.links{
    text-decoration: none;
    color: black;
    font-family: PROJETO;
    font-size: 30px;
}
.links:hover{
    color: white;
}
.butto:hover{
    background-color: black;
   transform: scale(1.1);
}
.titlemain{
    color: black;
    background-color: white;
    font-family: PROJETO;
    border-radius: 10px;
    width: 30%;
    font-size: 90px;
    height: 65%;
    margin-left: auto;
    text-align: center;
    margin-right: auto;
}
.carrossel {
  position: relative;
  width: 800px; /* largura do carrossel */
  height: 600px; /* altura do carrossel */
  overflow: hidden;
}
.titledoe{
    color: white;
    background-color: black;
    border-radius: 20px;
    font-size: 70px;
    width: 40%;
    font-family: PROJETO;
    padding: 29px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;    
}
.titledoe2{
    color: white;
    background-color: black;
    margin-left: auto;
    margin-right: auto;
    font-size: 50px;
    font-family: PROJETO;
    text-align: center;
    width: 15%;
    border-radius: 10px;
}
.qrcode{
    width: 200px;
    margin-left: 41%;
    border: 10px solid black;
    border-radius: 10px;
}
.chave{
    font-family: PROJETO;
    font-size: 50px;
    text-align: center;
    color: white;
    background-color: black;
    width: 20%;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;

}
@media screen and (max-width: 700px) {
    .titledoe, .titledoe2, .chave{
        width: 70%;
        border-radius: 30px;

    }
    
}
@media screen and (max-width: 700px) {
    .qrcode{
        width: 200px;
        margin-left: 87px;
        border: 10px solid black;
        border-radius: 10px;
    }
    
}